/*common*/

body{
color: white !important;
}

a{
  color:  white !important;
}
/*navbar*/
.navbar{
  background-color: transparent !important;
}
/*home*/
.home{
  display: flex;
  background: url('./image/cameleers-camel-drivers-sunset-thar-desert-sunset-jaisalmer-rajasthan-india_564276-1378.jpg') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
